.nav_bar {
    border-bottom: 1px solid black;
}

.nav_bar a {
    font-size: 24px;
    text-decoration: none;
}

#title_name {
    font-size: 3.5rem; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-styl:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.homepage_project_image {
    width: 300px;
    height: 300px;
    padding: 8px;
    background-color: rgb(201, 180, 223);
}
.project_card_name  {
    text-align:left;
}

.project_card_about {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.project_page_description {
    margin-top: 1%;
}